<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for enrollments in enrollment %}
        <div style="width: 300px;
        margin: 30px auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 15px;
        font-family: Arial, sans-serif;
        text-align: center;
        color: #333;">
            <h2>{{ enrollments.student }}</h2>
            <p><strong>Course : </strong>{{ enrollments.course }}</p>
            <p><strong>Enrollment Date: </strong>{{ enrollments.enrollment_date }}</p>   
            <p><strong>Grade: </strong>{{ enrollments.grade_achieved }}</p>     
        </div>
        {% endfor %}
    </div>
</body>
</html>