<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for instructors in instructor %}
        <div style="width: 300px;
        margin: 30px auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 15px;
        font-family: Arial, sans-serif;
        text-align: center;
        color: #333;">
            <h2>{{ instructors.name }}</h2>
            <p><strong>Instructor ID : </strong>{{ instructors.instructor_id }}</p>
            <p><strong>Department : </strong>{{ instructors.department }}</p>   
            <p><strong>Email: </strong>{{ instructors.email }}</p>     
        </div>
        {% endfor %}
    </div>
</body>
</html>